g.bar {
    cursor:pointer;
}

g.bar text {
    font-size:11px;
    font-weight:bold;
    font-family: sans-serif;
    text-anchor:end;
    opacity:0;
}


g.bar:hover rect {
    fill:#FFC50C;
}

g.bar:hover text {
    opacity:1;
}

.axis path,
.axis line,
.x.axis text {
    opacity:0;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}
